/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote::active,
q:before,
q::active {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
.modifier-profil {
  margin-top: 16px;
  margin-left: 50px;
}
.projets-modifier {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 1em;
}
.modifier {
  border: none;
  background-color: white;
}
.modifier-font {
  font-weight: lighter;
}
.modifier-font,
.editingFont {
  margin-right: 10px;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin: 1em 0em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  align-items: end;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 270px;
  height: 360px;
  object-fit: cover;
}
#contact,
#login {
  width: 50%;
  margin: auto;
}

#contact > *,
#login h2,
.delete-project-modal h3,
.ajout-project-modal h3 {
  text-align: center;
}
.mdpOublié {
  display: flex;
  justify-content: center;
  color: black;
}
#contact h2,
#login h2,
.delete-project-modal h3,
.ajout-project-modal h3 {
  margin-bottom: 20px;
}
#contact form,
#login form,
.delete-project-modal form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login input,
.delete-project-modal input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label,
.delete-project-modal label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
#portfolio {
  text-align: center;
}
.btnFiltre {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: white;
  margin: 2em 5px;
  border: 1px solid #1d6154;
  padding: 9px 30px;
  text-align: center;
  border-radius: 60px;
}
.btnFiltre:hover {
  background-color: #1d6154;
  color: white;
}
.btnFiltre:focus {
  color: white;
  background-color: #1d6154;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
.projets--link,
.login--link {
  text-decoration: none;
  color: black;
}
.bold-on-the-page {
  font-weight: bold;
}
.logout--link,
.contact {
  text-decoration: none;
  color: black;
}
.isGuest .hide-guest {
  display: none;
}
.isAdmin .hide-admin {
  display: none;
}
.editing {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: black;
}
.modifier {
  color: black;
  text-decoration: none;
}
.editing a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.editing a:hover {
  background-color: white;
  color: black;
  padding: 10x;
  border-radius: 60px;
}

.msgErreur {
  color: red;
  padding-top: 20px;
}
.data-close-modal {
  color: green;
}
.galleries-photos img {
  width: 100px;
}
.galleries-photos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
}

.btn-sup-aj {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add-pic-modal,
#remove-photo {
  width: 237px;
  height: 36px;
}
#add-pic-modal {
  color: white;
  background-color: #1d6154;
  border: 1px solid #1d6154;
  border-radius: 50px;
  margin-top: 38px;
}
#remove-photo {
  background-color: white;
  box-shadow: none;
  color: #d65353;
}
.modalMenu {
  background-color: black;
  display: flex;
  height: 59px;
  justify-content: center;
  gap: 10px;
  border: none;
}
#edition-modal,
#publier {
  border-radius: 50px;
  padding: 0px 20px;
  margin: 10px 0px;
  color: white;
  background-color: black;
  border: 1px solid black;
}
#edition-modal:hover,
#publier:hover {
  color: black;
  background-color: white;
}
.modal-projet {
  position: relative;
}
.projets-modal {
  /* width: 100%; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-column-gap: 10px; */
  /* grid-row-gap: 10px; */
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  padding: 0 px 57px;
  /* padding: 0px 37px; */
  /* flex-grow: 1; */
  flex-basis: 100%;
  flex-grow: 1;
  gap: 10px;
  /* width: 80px; */
  padding-bottom: 67px;
  border-bottom: 1px solid #b3b3b3;
}
.formDelete {
  display: flex;
  align-items: center;
}
.modal {
  background: #0007;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-previous-x {
  display: flex;
  justify-content: space-between;
}
.fermer {
  display: flex;
  flex-basis: 100%;
  justify-content: right;
  background-color: white;
}
.trashBtn {
  display: flex;
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: black;
  color: white;
  width: 17px;
  height: 17px;
}

.trashCon {
  font-size: 9px;
  position: absolute;
  right: 3px;
  top: 3px;
}
/** modal ajout**/
#image-input {
  display: none;
}
#display-image {
  width: 100%;
  max-width: 420px;
  height: 169px;
  background-size: cover;
  background-color: #e8f1f6;
}

.picture {
  font-size: 4em;
}
.telechargement {
  text-align: center;
  cursor: pointer;
  color: #b9c5cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img-projet {
  width: 75px;
  height: 105px;
}
.ajout-project-modal,
.delete-project-modal {
  background-color: white;
  padding: 26px 30px;
  border-radius: 10px;
  width: 604px;
  height: 640px;
}
.ajout-project-modal h3,
.delete-project-modal h3 {
  font-size: 26px;
  font-weight: 400;
}
#saved-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.validerUpload {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.titrePhoto {
  margin-bottom: 21px;
}
.titreLabel {
  margin-top: 30px;
}
.titrePhoto,
#workCategories {
  width: 420px;
  height: 51px;
}
#workCategories {
  margin-bottom: 47px;
}

#modal-close-x1,
#modal-close-x2,
#previous-page {
  background-color: white;
  border: 1px solid white;
  font-size: 20px;
}

#valider {
  color: white;
  background-color: #a7a7a7;
  padding: 8px 60px;
  border-radius: 60px;
  border: none;
}
.active {
  border: 0.2em solid black;
}
.hide {
  display: none;
}
